@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --col-1: #a2622d;
  --col-2: #1b6161;
  --col-3: #248224;
  --col-4: #a22d22;
  --margin:
}


* {
  justify-content: space-between;
  font-family: Architects Daughter, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  background-image: url('./images/background.jpg');
  background-size: cover;
  height: 100%;
  font-family: Montserrat, sans-serif;
}

main {
  min-height: 85vh;
}
ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}


#whole {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

#add-note-column {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-size: 2rem;
}

.fa-circle-plus {
  font-size: 2rem;
  color: rgba(238, 230, 230, 0.6);
  margin: 0 0.2rem;
}

.fa-circle-plus:hover {
  filter: contrast(150%);
  cursor: pointer;
  color: white;
}

.note-container {
  color: whitesmoke;
  display: inline-block;
  border-radius: 2rem;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 0 auto;
}

.note-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


/* ERROR  */
.note-list {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  /* justify-content: stretch; */
  align-items: center;
  justify-content: center;
  align-self: center;
  overflow-x: hidden;
  margin: 0 auto;
}

.note-column {
  align-self: flex-start;
  position: relative;
  width: fit-content;
  max-width: 30rem;
  min-height: fit-content;
  margin: 1rem;
  flex: 1;
  background-color: rgba(162, 76, 216, 0.6);
  background-image: linear-gradient(to left, rgba(255, 204, 112, 0.6), rgba(200, 80, 192, 0.6), rgba(131, 147, 236, 0.6));
  background-size: cover;
  box-shadow: inset 2px 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
}

.header {
  display: flex;
  align-items: center;
  margin: 2.5rem 8px 0;
  max-width: 30rem;
}

.note-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 1rem;
  height: 3rem;
  min-width: 24rem;
  margin-left: 1.5rem;
  padding: 1rem 1rem;
  background-image: linear-gradient(to right, rgba(10, 88, 71, 0.5), rgba(87, 82, 9, 0.5), rgba(105, 99, 14, 0.5));
  background-size: cover;
  box-shadow: 3px 5px rgba(43, 42, 42, 0.6);
}

.header-icons {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.fa-check:hover, .fa-x:hover {
  cursor: pointer;
  filter: contrast(150%);
  color: black;
}

.header-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 1.5rem 0 0.4rem;
}

.hide {
  display: none;
}

.fa-ellipsis-vertical {
  margin: 0 1.5rem;
}



.show-delete, .show-cancel {
  background-color: rgba(26, 23, 23, 0.6);
  font-size: 0.6rem;
  align-self: center;
  height: fit-content;
  padding: 0.20rem;
  margin: 0.1rem;
  width: 2.5rem;
  justify-content: center;
  border-radius: 0.2rem;
}

.unhide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 0.5rem;
}

.fa-ellipsis-vertical:hover, .show-delete:hover, .show-cancel:hover {
  cursor: pointer;
  filter: contrast(150%);
}

.note-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.note-header-text .note {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-line;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  outline: 0;
  margin: 0;
  min-width: 100px;
  letter-spacing: 3px;
  word-spacing: 2px;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  margin: 1.5rem 1.5rem 0;
}

.note-items-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.5rem;
}

.note-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* word-wrap: break-word; */
  /* white-space: nowrap; */
  overflow: hidden;
  font-size: 1rem;
  margin: 2px 0 10px 1.5rem;
  width: 25rem;
  line-height: 1rem;
  padding: 1rem 1rem 0.5rem;
  max-height: fit-content;
  /* height: 6rem; */
  height: fit-content;
  background-color: rgba(54, 45, 45, 0.6);
  background-image: linear-gradient(to right, rgba(124, 9, 170, 0.5), rgba(152, 112, 216, 0.5), rgba(129, 121, 12, 0.5));

  /* text-shadow: 1px 1px 1px black; */
  box-shadow: 4px 5px rgba(48, 44, 44, 0.6);
  border-radius: 1rem;
}
.no-space {
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 4rem;
  z-index: 7;
  padding: 0 auto;
  font-size: 2rem;
}

.space {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
  height: fit-content;
  height: 12rem;
  font-size: 2rem;
  padding: 1rem 1rem 0.5rem;
}

.text {
  height: 9rem;
  line-height: 1rem;
}

.text-space {
  width: 100%;
  outline: none;
  letter-spacing: 2px;
  border: none;
  min-height: 70%;
  max-height: 15rem;
  /* font-size: 10rem; */
  margin: 0 auto;
  /* background-color: green; */
  resize: none;
  line-height: 1.45rem;
  color: whitesmoke;
  /* border-radius: 10px; */
  background-color: transparent;
  /* background-color: green; */
  font-size: 1rem;
  font-family: inherit;
  transition: all 0.30s ease-in-out;
  cursor: pointer;
}

.text-space::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(31, 28, 30, 0.4);
  border-radius: 0.5rem;
  background-color: rgba(87, 80, 85, 0.4);
  margin-right: 5px;
}
.text-space::-webkit-scrollbar {
  width: 0.5rem;
}
.text-space::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  background-color: rgba(138, 117, 138, 0.3);
}

.text-space::-webkit-scrollbar-thumb:hover {
  filter: brightness(130%);
  background-color: rgba(94, 70, 95, 0.3)
}
.date {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  width: 100%;
  height: 2rem;
  border-top: 1px solid rgba(167, 162, 162, 0.9);
}

.line {
  margin: 0.5rem 0;
}

.item-list {
  display: flex;
  align-items: center;
  min-height: fit-content;
  max-width: 30rem;
  max-height: fit-content;
}

.note-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  margin: 0 1rem 0 0.5rem;
}

.fa-edit:hover {
  cursor: pointer;
  filter: contrast(150%);
  color: black;
}
.fa-trash:hover {
  cursor: pointer;
  filter: contrast(150%);
  color: rgba(148, 12, 12, 0.8);
}

.fa-circle-check:hover {
  cursor: pointer;
  filter: contrast(150%);
  color: rgba(20, 192, 112, 0.8)
} 

.fa-circle-xmark:hover {
  cursor: pointer;
  filter: contrast(150%);
  color: rgba(204, 27, 27, 0.8);
} 

.fas {
  font-size: 1.5rem;
  color: rgba(26, 23, 23, 0.6);
  margin: 0 0.2rem;
}

.note-header:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.pointer-mode:hover {
  filter: contrast(150%);
  color: white;
  cursor: pointer;
}


.edit-mode {
  border: 0.1rem solid rgba(211, 199, 199, 0.8);
}

.edit-mode-cursor {
  cursor: text;
  text-decoration: none;
}


.note-header:focus,
.note-item:focus,
.text:focus {
  outline: none;
}

.note-header-transform:active,
.note-item-transform:active {
  transform: translate(0.2rem, 0.2rem);
  box-shadow: 0 0px rgba(255, 255, 255, 0.7);
}

.note-items-list {
  min-height: 10rem;
}

.add-note-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  margin: 0 0.5rem 1rem;
  text-align: center;
  width: 100%;
}

.add-button {
  font-size: 1.1rem;
  background-color: rgba(26, 23, 23, 0.6);
  border-radius: 0.9rem;
  height: 2.1rem;
  min-width: 1rem;
  max-width: 12rem;
  margin: 0 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
  word-wrap: break-word;
  color: whitesmoke;

}
.save-button {
  font-size: 1.1rem;
  background-color: rgba(26, 23, 23, 0.6);
  border-radius: 0.8rem;
  height: 2rem;
  min-width: 1rem;
  max-width: 5rem;
  margin: 0 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
  word-wrap: break-word;
  box-shadow: 3px 4px rgba(43, 42, 42, 0.8);
  color: whitesmoke;
}

.add-button:hover,
.save-button:hover {
  filter: contrast(150%);
  cursor: pointer;
  color: white;
}

.add-button:focus,
.save-button:focus {
  outline: none;
}

.add-button:active,
.save-button:active {
  transform: translate(0.2rem, 0.2rem);
  box-shadow: 0 0px rgba(255, 255, 255, 0.7);
}


.note-content-scroll {
  overflow-y: auto;
  max-height: 60vh;
}

.note-content-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(31, 28, 30, 0.4);
  border-radius: 0.5rem;
  background-color: rgba(75, 48, 68, 0.4);
  margin-right: 5px;
}

.note-content-scroll::-webkit-scrollbar {
  width: 1rem;
}

.note-content-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  background-color: rgba(138, 117, 138, 0.3);
}

.note-scroll::-webkit-scrollbar-thumb:hover {
  filter: brightness(130%);
  background-color: rgba(94, 70, 95, 0.3)
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#tech-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: self-end;
  align-items: center;
  margin-top: 2;
}
#tech-icons span {
  font-size: 2rem;
  margin: 0.2rem;
}

#tech-stack i {
  margin: 0 1rem;
}

#github a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(184, 177, 177);
}

#github a:hover {
  filter: brightness(150%);

}

@media screen and (max-width: 1800px) {
  .main-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 640px) {
  body {
    overflow-y: auto;
  }
  
  .note-container {
    margin: 1rem;
  }

  .note-column {
    width: 100%;
    margin: 1rem 0;
    padding: 0.01rem;
  }

  .note-list {
    display: block;
  }

  .no-space {
    height: 3.8rem;
  }

}